<html>

<head>
    <link rel="stylesheet" href="">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Convvey <%= title %>
    </h1>

    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) {%>
        <form action="/posts/create/" id="new-post-form" method="POST">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here"></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){%>
                    <p>
                        <li>
                            <%= post.content %>
                                <br>
                                <small>
                                    written by: <%= post.user.name %>
                                </small>
                        </li>
                    </p>
                    <% } %>
            </ul>
        </div>
    </section>
</body>

</html>