<h1>Sign Up Part</h1>

<form action="/users/create" method="Post">
    <input type="text" name= "name" placeholder="Enter Name" required>
    <input type="email" name= "email" placeholder="Enter E-Mail" required>
    <input type="password" name= "password" placeholder="Enter Password" required>
    <input type="password" name= "password" placeholder="Enter Password-Again" required>
    <input type="submit" value = "Sign-up">

</form>