<link rel="stylesheet" href="<%= assetPath('css/sign-in.css')%>">
<h1 class="login-signup-header ">Sign In</h1>

<form action="/users/create-session" class="login-form"  method="POST">

     <input class="field" type="email" name="email" placeholder="Email"  required> 
     <input class="field" type="password" name="password" placeholder="Password"  required>
    <input class="field-button" type="submit" value="Sign In">

</form>

<p class="login-form">
    <a href="/users/auth/google">
        <img class="pic" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" width="200" alt="google signin/up" /> </a>
</p>