#user-chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px dashed grey;
  height: 350px;
  width: 300px;
  background: white;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 8px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #e5e5e5;
        border-radius: 5px; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 8px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #b0ffb3;
        border-radius: 5px; }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%;
      outline: none;
      padding-left: 5px; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 25px;
      color: white;
      border: none;
      background: #ef7917; }
